.component {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2em;
  }

  #component_resources {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: 2vw;
  }
  
  .component h2 {
    font-size: 2vw;
  }

a {
    color: white;
    font-weight: bold;
    font-style: italic;
}

