.component {
    min-width: 600px;
    left: 0;
    right: 0;
    transform: scale(0.6);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 2em;
  }
  
  .component h2 {
    font-size: 2em;
  }

a {
    color: white;
    font-weight: bold;
    font-style: italic;
}