<p>
	Twitter Terms of Service: <a href="https://twitter.com/en/tos">Twitter TOS</a>
</p>
<p>
	How to report hate speech on Twitter:<a href="https://help.twitter.com/en/safety-and-security/report-abusive-behavior">Report abuse behavior</a>
</p>

<hr>

<p>
	<a href="https://suicidepreventionlifeline.org/participate/">National Suicide Prevention Hotline</a>: 1-800-273-8255
</p>
<p>
	<a href="https://suicidepreventionlifeline.org/participate/">Get involved</a>
</p>

<hr>

<p>
	<a href="https://www.thetrevorproject.org/">The Trevor Project</a>: 1-866-488-7386
</p>
<p>
	<a href="https://www.thetrevorproject.org/get-involved/#">Get involved</a>
</p>
