<div class="component" id='component_resources'>
		<hr/>
		<h2>
				Twitter Terms of Service: <a href="https://twitter.com/en/tos">Twitter TOS</a>
			</h2>
			<h2>
				How to report hate speech on Twitter: <a href="https://help.twitter.com/en/safety-and-security/report-abusive-behavior">Report abuse behavior</a>
			</h2>
			<h2>____________________________________</h2>
			
			<h2>
				<a href="https://suicidepreventionlifeline.org/participate/">National Suicide Prevention Hotline</a>: 1-800-273-8255
			</h2>
			<h2>
				<a href="https://suicidepreventionlifeline.org/participate/">Get involved</a>
			</h2>
			
			<h2>____________________________________</h2>
			
			<h2>
				<a href="https://www.thetrevorproject.org/">The Trevor Project</a>: 1-866-488-7386
			</h2>
			<h2>
				<a href="https://www.thetrevorproject.org/get-involved/#">Get involved</a>
			</h2>
</div>
