.component {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
  }
  
  .component h2 {
    font-size: 2em;
  }

a {
    color: white;
    font-weight: bold;
    font-style: italic;
}