<div class="component" id='component_search'>
    
    <!-- <label class="labels">
        <p>@ <input [(ngModel)]="input_search">
            <button class='btn_search' id='btn_search' (click)='getHello()'>Search</button>
        </p>
    </label> -->
    <hr/>
    <p>Enter a Twitter acount to search it for slurs.</p>

    <div id="cover">
        <div class="tb">
            <div class="td">
                <p>@ <input [(ngModel)]="input_search"></p>
            </div>
            <div class="td" id="s-cover">
                <button class='btn_search' id='btn_search' (click)='getHello()'>
                    <div id="s-circle"></div>
                    <span></span>        
                </button>
            </div>
        </div>
    </div>

    <div id="calendarBox"></div>
    <div id="tweettexthold"></div>
    <div id="tester"></div>

    <div id='output_search'>
        <p>Number of times this user slurred in the past week: {{numSlurs}}</p>
        <!-- <pre><br><br></pre> -->
        <div class='fixer'>
        <div id='output_text'>{{result}}</div>
        </div>
    </div>

</div>