<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
  
    return t;
  }(document, "script", "twitter-wjs"));</script>

<div class="component" id='component_search'>
    <p>Search an account's post history</p>
    
    <div>
        <label class="labels">
            @: <input [(ngModel)]="input_search">
        </label>
    </div>

<button id='btn_search' (click)='getHello()'>Search</button>
    
<div id="calendarBox"></div>

<!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->
<!-- <script>

    function myCtrl($scope) {
        $scope.AppendHtml = function() {
         var myEl = /* angular.element( */ document.querySelector( '#calendarBox' ) /* ) */;
         

         for(var i = 0; i < tweetIds.length; i++){
            let tweetelement = tweetIds[i];
            myEl.append('<ngx-tweet tweetId="'+tweetelement+'"></ngx-tweet></br>');
         }
              
        }
    }
    </script> -->
<!-- <div [innerHtml]="{{htmlVariable}}"></div> -->
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">A great evening last night in Kentucky and Mississippi for the Republican Party with 13 BIG WINS, including a Governorship in Mississippi. Congratulations to everyone! <a href="https://t.co/bvQLOmwlbd">pic.twitter.com/bvQLOmwlbd</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/1192229368057085952?ref_src=twsrc%5Etfw">November 6, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<ngx-tweet tweetId="1190079193582899200"></ngx-tweet>
    <!-- <ngx-tweet *ngFor="let tweetId of tweetIds" [tweetId]="tweetId"></ngx-tweet> -->
<!-- <twitter-widget twitter-widget-id="'1190079193582899200'"> -->
<!-- </twitter-widget> -->
    <div id='output_search'>
        <p>Number of times this user slurred in the past week: {{numSlurs}}</p>
        <p>{{result}}</p>
    </div>
</div>

