.component {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
  }
  
  .component p {
      font-size: 2vw
  }
  
  .underline {
      text-decoration: underline; 
  }
  
  #searchBar {
      width: 90%;
      margin: 0 auto;
      padding: .25vw;
      outline: none;
      border-color: white;
      box-shadow: 0 0 2vw white;
      border-radius: 9vh;
  }
  
  #searchBar p {
      font-size: 4vw;
  }
  #searchBar button {
      height: 8vw;
      width: 8vw;
      font-size: 6vw;
      background: rgba(0, 0, 0, 0);
      border: 1px solid white;
      border-radius: 50%;
      -webkit-transform: rotate(45deg); 
      -moz-transform: rotate(45deg); 
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .pretty
  {
      background: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      font-size: 4vw;
  }

  .right button {
      font-size: 4vw;
      border-radius: 50%;
  }
