<div class="component" id='component_search'>
    <p>Search an account's post history</p>
    
    <div>
        <label class="labels">
            @: <input [(ngModel)]="input_search">
        </label>
    </div>

    <button id='btn_search' (click)='getHello()'>Search</button>        
    <ngx-tweet tweetId="1190079193582899200"></ngx-tweet>
<!--    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The Greatest Witch Hunt In American History!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/1189927952168996865?ref_src=twsrc%5Etfw">October 31, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
    <button id='btn_search' (click)='getHello()'>Search</button>
    <!-- <ngx-tweet tweetId="1190079193582899200"></ngx-tweet> -->
    <!-- <ngx-tweet *ngFor="let tweetId of tweetIds" [tweetId]="tweetId"></ngx-tweet> -->
<!-- <twitter-widget twitter-widget-id="'1190079193582899200'"> -->
<!-- </twitter-widget> -->
    <div id='output_search'>
        <p>Number of times this user slurred in the past week: {{numSlurs}}</p>
        <p>{{result}}</p>
    </div>
</div>