.header {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 2em;
  text-decoration: underline; 
}

.header a {
  color: white;
  padding: 1em;
}
