<!-- <div class='header'>    
  <mat-toolbar>
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/'">
        <h1>Homophobe Hunter</h1>
      </a>      
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <div class="flex-container">
        <a mat-button [routerLink]="'/search'">Search</a>
        <a>&#9898;</a>
        <a mat-button [routerLink]="'/analytics'">Analytics</a>
        <a>&#9898;</a>
        <a mat-button [routerLink]="'/resources'">Resources</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div> -->

<div class='header'>    
      <a [routerLink]="'/'">
        <h1>Homophobe Hunter</h1>
      </a>
      
      <div class="flex-container">
        <a [routerLink]="'/search'">Search</a>
        <a>&#9898;</a>
        <a [routerLink]="'/analytics'">Analytics</a>
        <a>&#9898;</a>
        <a [routerLink]="'/resources'">Resources</a>
      </div>
</div>
 
<router-outlet></router-outlet>