<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar color="primary" class="mdc-typography">
  <mat-toolbar-row>
  <h1 class="mdc-typography--headline1">
    Welcome to {{ title }}!
  </h1>
  <img src="assets/img/gayrobot.jpeg" height="75">
</mat-toolbar-row>

<mat-toolbar-row>
  <div>
    <a mat-button [routerLink]="'/'">Home</a>
    <a mat-button [routerLink]="'/search'">Search</a>
    <a mat-button [routerLink]="'/analytics'">Analytics</a>
    <a mat-button [routerLink]="'/resources'">Resources</a> 
  </div>
 
  </mat-toolbar-row>
  
  <!-- <ngx-tweet-list [tweetIds]="arr"></ngx-tweet-list> -->
</mat-toolbar>
<pre>





</pre>
<mat-toolbar-row><router-outlet></router-outlet></mat-toolbar-row>
