.component {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
    font-size: 2vw;
  }
  
  #rankings{
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
