html, body {
  height: 100%;
  background: #5E42E6;
}
body {
  margin: 0; 
  background: linear-gradient(to bottom, #F10087, #5E42E6);
  font-family: 'Josefin Sans', sans-serif;
}

 * {
   color: white;
 }